<!DOCTYPE html>
<html>
<head>
  <title>Synergy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#1B1C1D">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <% if detect_device == "mobile" %>
    <%= render "layouts/footer_mobile" %>
  <% else %>
    <%= render "layouts/footer_desktop" %>
  <% end %>

  <%= yield :extra_footer %>
</body>
</html>
